@import url("https://use.typekit.net/giy1hit.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  background-color: black;
  background-image: url(../img/BG_banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  color: #fff;
  position: relative;
}
body header {
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
body header .header_common {
  width: 33.3%;
}
body header .logo_area {
  display: inline-block;
  text-align: left;
  padding-left: 5%;
}
body header .menu_area {
  display: inline-block;
  text-align: center;
}
body header .menu_area a {
  font-family: shuttleblock, sans-serif;
  color: #aaa;
  padding: 10px;
}
body header .quick_btn_area {
  display: inline-block;
  text-align: right;
  padding-right: 5%;
}
body header .quick_btn_area a {
  margin-left: 10px;
}
body header .quick_btn_area a img {
  vertical-align: middle;
}
body header .quick_btn_area .sns img {
  width: 40px;
}
body header .quick_btn_area .whitepaper {
  display: inline-block;
  background-color: white;
  color: #000;
  font-family: shuttleblock, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
}
body .banner {
  text-align: center;
  padding: 60px 0;
}
body .banner h1 {
  font-family: shuttleblock, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 105%;
  color: #fff;
  margin-top: -70px;
}
body .banner h3 {
  font-family: shuttleblock, sans-serif;
  font-size: 1rem;
  line-height: 160%;
  padding-top: 35px;
  color: #aaa;
}
body .banner a.goto_btn {
  font-family: shuttleblock, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 60px;
  height: 65px;
  line-height: 65px;
  width: 220px;
  margin-top: 60px;
  padding: 0;
  display: inline-block;
  background-image: linear-gradient(to left bottom, #E5FF05, #00FFBB);
}
body .service_info {
  text-align: center;
  padding: 70px 0 170px;
}
body .service_info img {
  width: 80%;
}
body .service_info h3 {
  font-family: shuttleblock, sans-serif;
  font-size: 1.6rem;
  line-height: 130%;
  margin-top: 50px;
}
body .contents {
  margin: 0 auto;
  border-top: 1px solid #2B2B2B;
  position: relative;
  padding-top: 150px;
}
body .contents .container {
  display: block;
  width: 100%;
  position: relative;
}
body .contents .container .pin_list {
  display: inline-block;
  margin: auto;
  position: absolute;
  left: 10px;
}
body .contents .container .pin_list h5 {
  color: #787878;
  font-size: 1.05rem;
  font-weight: 300;
  padding: 10px 0;
}
body .contents .container .pin_list h5 span {
  padding: 0 10px;
}
body .contents .container .pin_list .active {
  color: #fff;
}
body .contents .container section {
  width: 850px;
  height: 500px;
  margin: 0 auto;
}
body .contents .container section .inner_test h2 {
  font-family: shuttleblock, sans-serif;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 115%;
  margin: 10px 0 40px;
}
body .contents .container section .inner_test h3 {
  display: inline-block;
  font-family: shuttleblock, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  background: linear-gradient(15deg, #D3F50F 8%, #0CFFE2 45%, #49FF66 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .contents .container section .inner_test p {
  color: #bababa;
  font-size: 1rem;
  line-height: 180%;
}
body footer {
  text-align: center;
  padding: 200px 0 0;
}
body footer img {
  width: 90%;
  opacity: 0.1;
}
body footer h5 {
  padding: 30px 0 50px;
  font-size: 0.8rem;
  color: #888;
}/*# sourceMappingURL=style.css.map */