@import url("https://use.typekit.net/giy1hit.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
::-moz-selection {
  color: #000;
  background-color: #49FF66;
}
::selection {
  color: #000;
  background-color: #49FF66;
}

body {
  background-color: black;
  background-image: url(../img/BG_banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  color: #fff;
  position: relative;
}
body header {
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  margin-top: -3px;
}
@media (max-width: 600px) {
  body header {
    background-color: #000;
    z-index: 99;
  }
}
body header .header_common {
  width: 33.3%;
}
body header .logo_area {
  display: inline-block;
  text-align: left;
  padding-left: 5%;
}
body header .logo_area img {
  vertical-align: middle;
}
body header .menu_area {
  display: inline-block;
  text-align: center;
}
@media (min-width: 601px) and (max-width: 1000px) {
  body header .menu_area {
    display: none;
  }
}
@media (max-width: 600px) {
  body header .menu_area {
    display: none;
  }
}
body header .menu_area a {
  font-family: shuttleblock, sans-serif;
  color: #aaa;
  padding: 0 15px;
  position: relative;
  line-height: 70px;
  display: inline-block;
}
body header .menu_area a .dropdown {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 180px;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 10px;
  color: #bbb;
  font-size: 1rem;
  line-height: 120%;
  padding: 15px 0;
}
body header .menu_area a .dropdown span {
  color: #666;
  font-size: 13px;
}
body header .menu_area a:hover .dropdown {
  display: block;
}
body header .quick_btn_area {
  display: inline-block;
  text-align: right;
  padding-right: 5%;
}
@media (min-width: 601px) and (max-width: 1000px) {
  body header .quick_btn_area {
    display: none;
  }
}
@media (max-width: 600px) {
  body header .quick_btn_area {
    display: none;
  }
}
body header .quick_btn_area a {
  margin-left: 10px;
}
body header .quick_btn_area a img {
  vertical-align: middle;
}
body header .quick_btn_area .sns img {
  width: 40px;
}
body header .quick_btn_area .whitepaper {
  display: inline-block;
  background-color: white;
  color: #000;
  font-family: shuttleblock, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
}
body header .mobile_menu {
  display: none;
}
@media (min-width: 601px) and (max-width: 1000px) {
  body header .mobile_menu {
    display: block;
  }
}
@media (max-width: 600px) {
  body header .mobile_menu {
    display: block;
  }
}
body header .mobile_menu .mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 70px;
  padding: 0 15px;
  cursor: pointer;
}
body header .mobile_menu .mobile-menu__icon {
  display: block;
  position: relative;
  background: #fff;
  width: 90%;
  height: 3px;
  border-radius: 10px;
  transition: 0.4s;
}
body header .mobile_menu .mobile-menu__icon::after,
body header .mobile_menu .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  transition: 0.4s;
}
body header .mobile_menu .mobile-menu__icon::after {
  top: 8px;
}
body header .mobile_menu .mobile-menu__icon::before {
  top: -8px;
}
body header .mobile_menu .mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  top: 65px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.2s;
  overflow: hidden;
  background-color: #111;
}
body header .mobile_menu .mobile-menu__container .list {
  position: relative;
  width: 100%;
  height: 100%;
}
body header .mobile_menu .mobile-menu__container .list a {
  text-decoration: none;
  color: #9B9B9B;
  font-family: shuttleblock, sans-serif;
}
body header .mobile_menu .mobile-menu__container .list a.menu {
  display: block;
  line-height: 50px;
}
body header .mobile_menu .mobile-menu__container .list a.menu:nth-child(1) {
  margin-top: 30px;
}
body header .mobile_menu .mobile-menu__container .list .sns {
  position: absolute;
  bottom: 95px;
  left: 0;
  right: 0;
}
body header .mobile_menu .mobile-menu__container .list .sns a {
  margin: 0 10px;
}
body header .mobile_menu .mobile-menu__container .list .sns a img {
  width: 42px;
}
body header .mobile_menu .mobile-menu__container .list a.launch_btn {
  font-family: shuttleblock, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  width: 85%;
  height: 55px;
  line-height: 55px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
body header .mobile_menu .mobile-menu__checkbox {
  display: none;
}
body header .mobile_menu .mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
  transition-delay: 0s;
}
body header .mobile_menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
body header .mobile_menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
body header .mobile_menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
body header .mobile_menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
body header .mobile_menu .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
body .banner {
  text-align: center;
  padding: 60px 0;
}
body .banner img {
  width: 350px;
}
body .banner h1 {
  font-family: shuttleblock, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 105%;
  color: #fff;
  margin-top: -70px;
}
body .banner h3 {
  font-family: shuttleblock, sans-serif;
  font-size: 1rem;
  line-height: 160%;
  padding-top: 35px;
  color: #aaa;
}
body .banner a.goto_btn {
  display: inline-block;
  font-family: shuttleblock, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 60px;
  width: 250px;
  height: 65px;
  line-height: 65px;
  margin-top: 60px;
  padding: 0;
  background-image: linear-gradient(to left bottom, #E5FF05, #00FFBB);
}
@media (min-width: 601px) and (max-width: 1000px) {
  body .banner h1 {
    font-size: 4rem;
    padding: 0 5%;
  }
  body .banner h3 {
    padding: 35px 5% 0;
  }
  body .banner h3 br {
    display: none;
  }
}
@media (max-width: 600px) {
  body .banner img {
    width: 280px;
  }
  body .banner h1 {
    font-size: 2.3rem;
    padding: 0 5%;
  }
  body .banner h3 {
    padding: 35px 5% 0;
  }
  body .banner a.goto_btn {
    font-size: 1.1rem;
    width: 230px;
    height: 60px;
    line-height: 60px;
    margin-top: 40px;
  }
}
body .service_info {
  text-align: center;
  padding: 70px 0 170px;
}
body .service_info img {
  width: 80%;
  margin: auto;
}
body .service_info img.basic {
  display: block;
}
body .service_info img.mobile {
  display: none;
}
body .service_info h3 {
  font-family: shuttleblock, sans-serif;
  font-size: 1.6rem;
  line-height: 130%;
  margin-top: 50px;
}
@media (max-width: 600px) {
  body .service_info {
    padding: 70px 0 130px;
  }
  body .service_info img {
    width: 100%;
  }
  body .service_info img.basic {
    display: none;
  }
  body .service_info img.mobile {
    display: block;
  }
  body .service_info h3 {
    font-size: 1.6rem;
    padding: 0 5%;
    line-height: 150%;
    margin-top: 0;
  }
}
body .contents {
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}
@media (max-width: 600px) {
  body .contents {
    padding-top: 50px;
  }
}
body .contents .container {
  position: relative;
  display: block;
  width: 100vw;
  height: 2200px;
}
body .contents .container .pin_list {
  display: inline-block;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  left: 10px;
  left: 5%;
  top: 80px;
}
body .contents .container .pin_list h3 {
  color: #787878;
  font-family: shuttleblock, sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
  padding: 10px 0;
}
body .contents .container .pin_list h3 span {
  padding: 0 20px 0 0;
  font-family: shuttleblock, sans-serif;
}
body .contents .container .pin_list .active {
  color: #fff;
}
@media (min-width: 1001px) and (max-width: 1300px) {
  body .contents .container .pin_list {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  body .contents .container .pin_list {
    display: none;
  }
}
@media (max-width: 600px) {
  body .contents .container .pin_list {
    display: none;
  }
}
body .contents .container .wrap {
  width: 100vw;
  overflow: hidden;
  margin-top: -100px;
}
body .contents .container section {
  width: 850px;
  margin: 0 auto;
}
body .contents .container section .inner_test h2 {
  font-family: shuttleblock, sans-serif;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 115%;
  margin: 10px 0 40px;
}
body .contents .container section .inner_test h3 {
  display: inline-block;
  font-family: shuttleblock, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  background: linear-gradient(15deg, #D3F50F 8%, #0CFFE2 45%, #49FF66 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 601px) and (max-width: 1000px) {
  body .contents .container section {
    width: 90vw;
  }
}
@media (max-width: 600px) {
  body .contents .container section {
    width: 100vw;
  }
}
body .contents .container section.section_01 {
  height: 900px;
}
body .contents .container section.section_01 .inner {
  display: flex;
  flex-wrap: wrap;
}
body .contents .container section.section_01 .inner img {
  display: inline-block;
}
body .contents .container section.section_01 h3 {
  font-family: shuttleblock, sans-serif;
  font-size: 1.875rem;
  padding: 0 0 30px;
}
@media (min-width: 601px) and (max-width: 1000px) {
  body .contents .container section.section_01 .inner img {
    width: 50%;
  }
}
@media (max-width: 600px) {
  body .contents .container section.section_01 {
    height: auto;
  }
  body .contents .container section.section_01 h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 0 0 10px;
  }
  body .contents .container section.section_01 .inner {
    display: block;
    text-align: center;
  }
  body .contents .container section.section_01 .inner img {
    display: block;
    width: 85%;
    margin: 20px auto;
  }
}
body .contents .container section.section_02 {
  height: 600px;
  position: relative;
}
body .contents .container section.section_02 .inner h3 {
  font-family: shuttleblock, sans-serif;
  font-size: 1.875rem;
  padding: 120px 0 70px;
}
body .contents .container section.section_02 .inner img.bg_blur {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
body .contents .container section.section_02 .inner .content {
  position: relative;
  display: flex;
}
body .contents .container section.section_02 .inner .content div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
body .contents .container section.section_02 .inner .content div h1 {
  font-family: shuttleblock, sans-serif;
  font-size: 6.25rem;
  line-height: 120%;
  background: linear-gradient(15deg, #D3F50F 8%, #0CFFE2 45%, #49FF66 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding-bottom: 13px;
}
body .contents .container section.section_02 .inner .content div span {
  font-family: shuttleblock, sans-serif;
  font-size: 1rem;
  color: #9c9c9c;
  line-height: 130%;
}
@media (min-width: 601px) and (max-width: 1000px) {
  body .contents .container section.section_02 .inner .content div h1 {
    font-size: 6rem;
  }
}
@media (max-width: 600px) {
  body .contents .container section.section_02 {
    height: auto;
  }
  body .contents .container section.section_02 .inner h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 140px 0 50px;
  }
  body .contents .container section.section_02 .inner img.bg_blur {
    width: 250%;
    top: 70%;
  }
  body .contents .container section.section_02 .inner .content {
    display: block;
    width: 85%;
    margin: auto;
  }
  body .contents .container section.section_02 .inner .content div {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 50px;
  }
  body .contents .container section.section_02 .inner .content div h1 {
    font-size: 4.5rem;
    padding-bottom: 5px;
  }
  body .contents .container section.section_02 .inner .content div span {
    font-size: 0.9rem;
  }
}
body .contents .container section.section_03 {
  height: 700px;
}
body .contents .container section.section_03 .inner h3 {
  font-family: shuttleblock, sans-serif;
  font-size: 1.875rem;
  padding: 50px 0;
}
body .contents .container section.section_03 .inner .game_poster {
  text-align: left;
  display: flex;
  align-items: center;
}
body .contents .container section.section_03 .inner .game_poster img {
  display: inline-block;
  vertical-align: middle;
}
body .contents .container section.section_03 .inner .game_poster img.live {
  width: 260px;
  margin-right: 15px;
}
body .contents .container section.section_03 .inner .game_poster img.coming {
  height: 295px;
}
body .contents .container section.section_03 .inner .game_poster img.m_coming {
  display: none;
}
body .contents .container section.section_03 .inner a.goto_store {
  font-family: shuttleblock, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 60px;
  height: 65px;
  line-height: 65px;
  width: 220px;
  margin-top: 30px;
  padding: 0;
  display: inline-block;
  background-image: linear-gradient(to left bottom, #E5FF05, #00FFBB);
  text-align: center;
}
body .contents .container section.section_03 .inner a.goto_store img {
  vertical-align: sub;
}
@media (max-width: 600px) {
  body .contents .container section.section_03 {
    height: auto;
  }
  body .contents .container section.section_03 .inner h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 100px 0 30px;
  }
  body .contents .container section.section_03 .inner .game_poster {
    display: block;
    text-align: center;
    position: relative;
    height: 300px;
  }
  body .contents .container section.section_03 .inner .game_poster img.live {
    width: 200px;
    margin: auto;
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
  }
  body .contents .container section.section_03 .inner .game_poster img.coming {
    display: none;
  }
  body .contents .container section.section_03 .inner .game_poster img.m_coming {
    display: block;
    height: 220px;
    opacity: 0.6;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 30px;
  }
  body .contents .container section.section_03 .inner a.goto_store {
    font-size: 1rem;
    height: 50px;
    line-height: 50px;
    width: 180px;
    display: block;
    margin: 20px auto;
  }
  body .contents .container section.section_03 .inner a.goto_store img {
    width: 20px;
  }
}
body footer {
  text-align: center;
  padding: 300px 0 0;
}
@media (max-width: 600px) {
  body footer {
    padding: 350px 0 0;
  }
}
body footer img.footer_logo {
  width: 90%;
  opacity: 0.1;
}
body footer .footer_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
body footer .footer_area p {
  padding: 0;
  font-size: 0.9rem;
  color: #888;
  display: inline-block;
  vertical-align: middle;
  width: 33.3%;
  text-align: left;
}
body footer .footer_area .arbitrum_logo {
  display: inline-block;
  width: 33.3%;
}
body footer .footer_area .arbitrum_logo img {
  vertical-align: middle;
}
body footer .footer_area a {
  display: inline-block;
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
  transition: all 0.2s ease;
  width: 33.3%;
  text-align: right;
}
body footer .footer_area a:hover {
  color: #ccc;
}
@media (max-width: 600px) {
  body footer .footer_area {
    display: block;
  }
  body footer .footer_area p {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }
  body footer .footer_area .arbitrum_logo {
    display: block;
    width: 100%;
    text-align: left;
    margin: 15px 0;
  }
  body footer .footer_area .arbitrum_logo img {
    height: 35px;
  }
  body footer .footer_area a {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */